@media only screen and (max-width:900px) {
    #logo {
        margin-top: 2px;;
    }
    
    #about p {
        width: 95%;
    }
    
    #contact h2 {
        width: 95%;
    }
    
    video {
        width: 80%;
    }
}

@media only screen and (max-width:500px) {
    #nav {
        margin: 0;
    }
    
    #nav a{
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #projects {
        font-size: 1.3em;
    }
    
    #pLogo {
        width: 50%;
        margin-bottom: -15px;
    }
    
    #pBack {
        width: 35px;
        margin-bottom: 10px; 
    }
    
    .nav-fixed {
        display: none;
    }
    
    .project-img {
        width: 100%;
    }
    
    embed {
        width: 95%;
    }
    
}
