@import 'https://fonts.googleapis.com/css?family=Arbutus+Slab';
@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

html *{
    font-family: Reem Kufi;
}

h1, h2 {
    font-family: Arbutus Slab;
}

a {
    font-family: Arbutus Slab;
}

#name {
    font-size: 5.5em;
    color: #284B63;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0;
}

#menu-btn {
    text-align: center;
    cursor: pointer;
    display: none;
}

#nav {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    font-family: Arbutus Slab;
    font-size: 1.2em;
    list-style: none;
}

#nav li {
    display: inline-block;
    transition: all 0.3s;
}

#nav a {
    display: block;
    padding: 10px;
    transition: all 0.3s;
}

#nav a:hover {
    color: #FFFFFF;
    background-color: #284B63;
    border-radius: 2px;
}

.nav-fixed {
    position: fixed;
    background-color: #012448;
    top: -5px;
    z-index: 100;
}

.nav-fixed a {
    color: #FFFFFF;
}

.nav-fixed a:hover {
    background-color: #FFFFFF;
}

#about {
    text-align: center;
    background-color: #284B63;
    padding-top: 0;
}

#about h1 {
    font-family: Arbutus Slab;
    font-size: 3em;
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
}

#about img {
    height: 350px;
}

#about p {
    background-color: #ffffff;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
}

#resume {
    font-size: 2em;
}

#resume button {
    border: 3px solid #012448;
    background-color: #ffffff;
    color: #012448;
}

#resume button a {
    color: #012448;
}

#work {
  text-align: center;
}

#work h2 {
    text-align: left;
    font-family: Arbutus Slab;
    text-decoration: underline;
}

#work p {
    text-align: left;
    font-size: 1.2em;
}

#work a {
  font-size: 1.8em;
}

#work img {
  max-height: 200px;
}

#contact {
    background-color: #284B63;
    text-align: center;
}

#contact h2 {
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
}

/*For Projects Sub Panel*/

#projects {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
} 

#projects h1, #projects h2 {
    font-family: Arbutus Slab;
    text-decoration: underline;
}

#projects h3 {
    text-align: center;
    display: inline-block;
    padding: 10px;
    background-color: #FFFFFF;
}

.projects {
    padding-top: 10px;
    transition: all 0.3s;
}

.projects:hover {
    background-color: #284B63;
}

#pBack {
    float: left;
    width: 50px;
    cursor: pointer;
}

#pname {
    text-align: center;
    font-size: 4em;
    font-family: Reem Kufi;
    transition: all 1s;
}

#pname:hover {
    color: #ED00FF;
}

.pBreak {
    background-color: #012448;
    border-radius: 5px;
    height: 3px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-img {
    max-width: 500px;
}

.swatch {
    height: 300px;
}

embed {
    width: 80%;
    height: 800px;
}