@import 'https://fonts.googleapis.com/css?family=Arbutus+Slab';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html *{
    font-family: Open Sans;
}

h1, h2 {
    font-family: Arbutus Slab;
}

a {
    font-family: Arbutus Slab;
}

#logo {
    width: 50%;
    margin-top: -15px;
    margin-bottom: -15px;
}

#nav {
    font-family: Arbutus Slab;
    font-size: 1.2em;
}

.nav-fixed {
    position: fixed;
    background-color: #012448;
    top: 0;
    z-index: 100;
}

.nav-fixed a {
    color: #FFFFFF;
}

#about {
    text-align: center;
}

#about h1 {
    font-family: Arbutus Slab;
}

#about img {
    height: 350px;
}

#resume {
    font-size: 2em;
}

#resume button {
    border: 3px solid #012448;
    background-color: #ffffff;
    color: #012448;
}

#resume button a {
    color: #012448;
}

#work {
  text-align: center;
}

#work h2 {
    text-align: left;
    font-family: Arbutus Slab;
    text-decoration: underline;
}

#work p {
    text-align: left;
    font-size: 1.2em;
}

#work a {
  font-size: 1.8em;
}

#work img {
  max-height: 200px;
}

#contact {
    text-align: center;
}

/*For Projects Sub Panel*/

#projects {
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
} 

#projects h3 {
    text-align: center;
}

#projects a {
    background-color: red;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

#projects a:hover {
    background-color: grey;
}

#pBack {
    float: left;
    width: 50px;
    cursor: pointer;
}

#pLogo {
    width: 30%;
    margin-bottom: -20px;
}

.pBreak {
    background-color: #012448;
    border-radius: 5px;
    height: 3px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-img {
    width: 500px;
}

.swatch {
    height: 300px;
}